<%= simple_form_for(@blog_post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <div class="control-group">
      <label for="blog_post_excerpt">Excerpt</label>
      <%= f.text_area :excerpt, :rows => 20, :cols => 120 %>
    </div>
    <div class="control-group">
      <label for="blog_post_excerpt">Content</label>
      <%= f.text_area :content, :rows => 40, :cols => 120 %>
      <%= tinymce %>
    </div>
    <div class="control-group">
      <%= f.input :tag_list %>
    </div>

    <%= f.input :user_id, :as => :hidden, :val => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
