<h1>
  <%= @blog_post.title %>
</h1>
<p>Written by <%= @blog_post.user.name %> <%= @blog_post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
<div class="blog-content">
  <%= markdown(@blog_post.content) %>
</div>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
