<h1>
  <%= @blog_post.title %>
</h1>
<p>Posted on <%= @blog_post.created_date %></p>
<div class="blog-content">
  <%= markdown(@blog_post.content) %>
</div>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
